.card {
  border-radius: 10px;
  width: auto;
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 8px;
  background-color: #393e41;
  color: whitesmoke;
}

.image {
  max-width: 100%;
  height: auto;
}

.name {
  margin: auto 10px;
}

.input {
  cursor: pointer;
}
